<h1><%= @recipe.title %><small><%= link_to " edit/tag/delete", edit_recipe_path(@recipe) %></small></h1>
<h3>Instructions</h3>
<p><%= @recipe.instruction_set %></p>
<h3>Ingredients</h3>
<p><%= @recipe.ingredient_set %></p>






<% if @recipe.tags.any? %>
  <% recipe_tags = @recipe.tags.sort_by { |k| k[:tag] } %>
  <h5>Tags</h5>
  <p>| 
  <% recipe_tags.each do |tag| %>
      <span>
        <%= link_to tag.tag, tag_path(tag) %> |
      </span>
  <% end %>
  </p>
<% else %>
  <p>No tags are listed for this recipe.</p>
<% end %>