<%= render "layouts/errors", :object => @recipe %>

<%if @recipe.id %>
  <p><%= link_to "Delete recipe", recipe_path(@recipe),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>
  <% end %>

<%= form_for @recipe do |f| %>
  <%= f.label :title, 'Recipe Name:' %>
  <%= f.text_field :title, class: 'form-control', value: @recipe.title, required: 'true' %>
  <%= f.label :instruction_set, 'Instructions:' %>
  <%= f.text_area :instruction_set, class: 'form-control', value: @recipe.instruction_set, required: 'true' %>
  <%= f.label :ingredient_set, 'Ingredients:' %>
  <%= f.text_area :ingredient_set, class: 'form-control', value: @recipe.ingredient_set, required: 'true' %>


  <h1>Add a Tag</h1>
  <p>Can't find the right tag? Add one on the <%= link_to "Tags", tags_path %> page and come back to add it to your recipe.</p>
  <% if @tags.any? %>
    <% tags = @tags.sort_by { |k| k[:tag] } %>
    <% tags.each do |tag| %>
      <label class="checkbox-inline">
        <input name="tag_selections[]" type="checkbox" value=<%= "#{tag.id}" %> <%= @recipe_tags.include?(tag.id) ? "checked" : "" %>><%= tag.tag %>
      </label>
    <% end %><br>
  <% else %>
    <p>There are no tags yet.</p>
  <% end %>
  <br>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
